body {
    width: 800px;
    margin: 0px auto;
}

.postBox {
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 40px;
}

.post_user_name {
    font-weight: bold;
    text-align: left;
}

.post_user_email {
    font-size: 12px;
    text-align: left;
}

.post_date {
    font-size: 10px;
    float: right;
    line-height: 20px;
    margin-right: 10px;
}

.post_head {
    padding: 5px;
}

.post_body {
    padding: 5px;
}

.post_delete {
    float: right;
    cursor: pointer;
}

.postFormBox {

}

.postFormFields {
    margin: 10px 0px;
}

.postFormFields .input-group {
    margin: 10px 0px;
}

.postFormButtons button{
    margin-bottom: 10px;
}

#bottom_alert {
    position: absolute;
    top: 0px;
    z-index: 1000;
    padding-right: 25px;
    margin-top: 0px;
    display: none;
    float: right;
    right: 0px;
}

.pagination_ajax li{
    cursor: pointer;
}